body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.header {
  padding: 10px;
  margin: 0;
  text-align: center;
  border-bottom: 2px solid orange;
  margin-bottom: 1rem;
}
.header h1 {
  padding: 0;
  margin: 10px;
  font-size: 3rem;
  font-weight: 100;
}

.header input {
  width: 300px;
  padding: 0.4rem 0.5rem;
  border: none;
  border-bottom: 1px solid black;
}

.header button {
  padding: 0.4rem 0.2rem;
}

.items-cont {
  margin: auto;
  min-width: 300px;
}

.tiles {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 70%;
  background-color: whitesmoke;
  margin: auto;
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
}



.tiles h3 {
  font-weight: 100;
  font-size: 1.3rem;
  color: orange;
  margin: 0;
  padding: 0;
}

.tiles h5 {
  color: black;
  margin:  0 3px;
  padding: 0;
}

.tiles a{
  text-decoration: none;
}


